manifest {
    mainScript = "main.nf"
}

params {
    outdir = "bin_refinement"
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    ebi {
        params {
            outdir = "bin_refinement"

            workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/mgbinrefinder"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"
        }
        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        includeConfig 'config/nf_codon.config'
        includeConfig 'config/nf_codon_dbs.config'
    }

    local {
         docker {
            enabled = true
            autoMounts = true
        }
        executor {
            name = "local"
            cpus = 2
        }

        includeConfig 'config/nf_local.config'
    }
}
