params {
    outdir               = "results"
    workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/mgbinrefinder"
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}
workDir = params.workdir

process {
    withName: CHECKM2 { cpus = 8; memory = '50.0 GB'}
}

profiles {
    ebi {
        includeConfig 'codon_dbs.config'
        conda.enabled = false

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}