process {
    withName: CHECKM2 {
        cpus = 8;
        memory = '30.0 GB';
        conda = '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/checkm2'
    }
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = params.singularity_cachedir
}

process {
    queue = 'production'
    time = '1h'
    withLabel: process_bigmem {
        queue = 'bigmem'
        time = '3d'
    }
}
conda.enabled = true